@model List<TotalPrice>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>AccountNumber</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountNumber</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>




<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    new DataTable('#example');
</script>